.crystal-ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2000ms;
}
.fade-in {
  opacity: 1;
}
